<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#54338C">
    <title>Search Results - TwitchBot Help Center</title>
    <meta property="og:title" content="Search Results - TwitchBot Support">
    <meta property="og:url" content="https://support.twitchbot.io">
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/375805687529209857/7528f050ec2521877bcfa1abe3cfbab4.png">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div>
            <a href="/">TwitchBot</a>
            <span style="float:right">
                <a href="https://discordapp.com/invite/UNYzJqV">Support Server</a>
                {% if not discord.authorized %}
                    <a href="/oauth">Log in&ensp;<i class="fab fa-discord"></i></a>
                {% else %}
                    <a href="javascript:toggleNav('#nav-ctx')" id="nav-toggle">
                        <img src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}" class="avatar">
                        <span>{{user.username}}&ensp;</span>
                        <i class="fas fa-chevron-down"></i>
                    </a>
                {% endif %}
            </span>
        </div>
    </nav>
    <div class="ctx-menu" id="nav-ctx" style="display:none">
        {% if admin %}
            <a href="/articles/new">New article</a>
            <a href="/settings">Site settings</a>
        {% endif %}
        <a href="/oauth/deauthorize">Log out</a>
    </div>
    <script src="/assets/nav.js"></script>
    <header>
        <h1>Search results for '{{term}}'</h1>
        <form action="/search">
            <i class="fas fa-search"></i>
            <input type="search" name="q" placeholder="Search support articles">
        </form>
        <script>
            $("form input[type=text]").on('keypress', function(e) {
                if (e.which == 13) {
                    $(this).parent().submit();
                }
            });
        </script>
    </header>
    <div class="body">
        {% if articles|length == 0 %}
            <p>No articles matched your search term.</p>
        {% else %}
            <p style="text-align:left;opacity:.7">There are {{articles|length}} article(s) that match your search term.</p>
        {% endif %}
        {% for article in articles %}
            <a class="article-item" href="/articles/{{article.article_id}}">
                {{article.title}}
            </a>
        {% endfor %}
    </div>
</body>
</html>
